<% layout('layouts/boilerplate') %>

<div class="bg-sky-950 flex flex-col w-full min-h-screen items-center justify-center">
  <form action="/login" method="POST" class="flex flex-col gap-4 w-3/4 max-w-[30rem] p-5 bg-white rounded-md">
    <div class="flex flex-col gap-2">
      <label for="">Username</label>
      <input type="text" name="username" id="username" class="rounded-md border-2 border-gray-200 bg-gray-100">
    </div>
    <div class="flex flex-col gap-2">
      <label for="">Password</label>
      <input type="password" name="password" id="password" class="rounded-md border-2 border-gray-200 bg-gray-100">
    </div>

    <a href="/register">Register Here >>></a>
    <button class="bg-blue-500 py-3 px-3 rounded-md text-white">Log In</button>
  </form>
</div>
